  <div class="choice-area">
   <div class="row">
  
   </div>
   <div class="row">
   		<div class="large-3 large-centered columns">
   			<%=image_tag "ghost-baby.png", :class => "ghost-baby" %>
   		
   	
  
   	<div ng-controller="SliderController" >
	   <div class="slider" >
	     <h1 class="slide" ng-repeat="phrase in phrases" ng-show="phrase.visible" >{{ phrase.phrase }}</h1>
	     <slider phrases="phrases" />
	   </div>
	  </div>
   </div>
	     <div class="row">

	     <div class=buttons>

	     	<ul>

	   
	     	<li class="large-3 columns button-list"><%= image_tag "network.png", :class => "sm-photo" %>
	     	<h3 class="name">NETWORK</h3>
	     	</li>
	     		
	     	
	     	<li class="large-3 large-offset-1 columns button-list"><%= image_tag "apply.png", :class => "sm-photo" %>
	     	<h3 class="name">APPLY</h3>
	     	</li>
	     	
		
	     	<li class="large-3 large-pull-1 columns button-list"><%= image_tag "follow.png", :class => "sm-photo" %>
	     	<h3 class="name">FOLLOW UP</h3>
	     	</li>
	     	
	     	</ul>
	     	</div>
	     </div>
	 </div>
	</div>