<div class="choice-area">
<div class="row">
	<div class="title-png large-3 columns"><%=image_tag "ghost-title.png", :class => "ghostwrite-title" %></div>
	<div class="large-1 large-offset-6 medium-2 medium-offset-5 small-2 small-offset-5 columns sign-up">ABOUT</div>
	<div class="large-2 medium-2 small-2 columns sign-up">SIGN UP</div>
</div>
   
		<div ng-view></div>
		 		  
	  
 </div> 
 <div class="area">
  		<div class="row">
			<div class="large-block-grid-4 footer">
				<i class="fa fa-youtube-play fa-2x"></i>
				<i class="fa fa-twitter fa-2x"></i>
				<i class="fa fa-list fa-2x"></i>
			</div>
</div>