<div class="off-canvas-wrap" data-offcanvas >
  <div class="inner-wrap">

    <a class="left-off-canvas-toggle" href="#" id="menu-link" >+</a>

    <!-- Off Canvas Menu -->
    <aside class="left-off-canvas-menu" id="aside">
        <!-- whatever you want goes here -->
        <ul>
          <li><a id="menu-link-inner" href="#">ABOUT</a></li>
          <li><a id="menu-link-inner" href="#">FAQ</a></li>
      
        </ul>
    </aside>

    <!-- main content goes here -->
    <p></p>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>