.welcome {
	color: blue; 
}

.hero {
	background-color: #12B4A1; 
	height: 100%;
}

.smaller {
	margin-top: 30px; 
}

.sm-photo {
	width: 75%; 
	

}

.button-list {
	border-width: 1px;
	padding: 10px; 
	border-radius: 7px;
	box-shadow: 10px 10px 5px #888888; 
	background: #12b4a1; /* Old browsers */
}



.buttons {
	margin: 75px 0 75px 0; 
}

.title {
	text-align: center;
	margin: 10px 0 50px 0; 
	letter-spacing: .1em;
	line-height: 1em; 
	font-weight: 200; 
	font-family: 'Raleway';
}

.name {
	letter-spacing: .1em;
	line-height: 1em; 
	font-family: 'Raleway';
	font-weight: 200; 
	padding-top: 5px;
}

.ghost-baby {
	padding-top: 10px; 
}

.title-png {
	padding-top: 25px; 
}

.choice-area {
	background-color: #FAFAFA;
}